
    <div class="row">
        <div class="starter-template">
          <legend>
            <h1>About Me</h1>
          </legend>
        </div>
     </div>
     <div class="row">
         <div class="col-md-3">
             <%= image_tag("profile.jpg", size: "200", class: "thumbnail pull-center") %>
         </div>
         <div class="col-md-9">
             <br><br>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, id, 
             voluptate explicabo tenetur illum aliquid veritatis distinctio assumenda 
             vitae iusto molestiae voluptas fugit adipisci iure atque reiciendis corrupti. Laborum, ad? Lorem 
             ipsum dolor sit amet, consectetur adipisicing elit. 
             Minus, inventore, veniam, quod, vero temporibus tempora 
             at repellendus quam saepe similique repudiandae accusantium molestias eaque 
             dicta maiores dignissimos in reiciendis nihil.</p>
         </div>
     </div>


