<div class="jumbotron text-center">
    <h2>Welcome to Alpha Blog!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quisquam, asperiores, minima error corrupti velit ducimus nemo 
            necessitatibus mollitia officiis illum dolorem quae omnis aliquam. 
            Minima ex ipsam quidem quas vitae. Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit. Obcaecati, hic, quaerat sapiente atque ipsam maxime 
            facilis esse at temporibus aut! Consequuntur, quas, reprehenderit iure
            amet eligendi assumenda doloremque quis molestias!
    </p>
    <%= link_to "Sign Up", "#", class: "btn btn-lg btn-warning" %>
</div>

<hr>

<div class="main row">
    <div class="col-md-4 text-center">
        <i class="categories fa fa-futbol-o fa-5x" aria-hidden="true"></i>
        <h3>Sports</h3>
        <p>Lorem ipsum dolor sit amet, 
        consectetur adipisicing elit. 
        Similique, suscipit, debitis doloremque omnis labore iusto earum ex officiis modi 
        vel esse nobis illo animi dolor recusandae iste sed consequatur vero!</p>
    </div>
    <div class="col-md-4 text-center">
        <i class="categories fa fa-desktop fa-5x" aria-hidden="true"></i>
        <h3>Technology</h3>
        <p>Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Alias, temporibus, ipsum, tempora reprehenderit 
        dicta atque voluptate provident vitae repellendus veritatis expedita dolor totam 
        aperiam aliquam ratione dolorem debitis!</p>
    </div>
    <div class="col-md-4 text-center">
        <i class="categories fa fa-building fa-5x" aria-hidden="true"></i>
        <h3>Business</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, doloribus 
        maiores assumenda totam accusantium tenetur illum ut corporis. Corrupti, ipsa 
        consequuntur saepe libero excepturi officiis reprehenderit dolore!</p>
    </div>
</div>
