<body>
    <div class="container">
        
        <div class="jumbotron text-center">
            <h2>Welcome to Alpha Blog!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quisquam, asperiores, minima error corrupti velit ducimus nemo 
            necessitatibus mollitia officiis illum dolorem quae omnis aliquam. 
            Minima ex ipsam quidem quas vitae.</p>
            <a href="#" class="btn btn-primary btn-success">Read More <span class="glyphicon glyphicon-share-alt"></span></a>
        </div>
    
    </div><!-- /.container -->
</body>