$body-bg: rgba(149, 165, 166,0.7) ;
$navbar-default-bg: rgba(127, 140, 141,0.8);
$navbar-default-link-color: rgba(44, 62, 80,1.0);
$navbar-default-link-hover-color: rgba(44, 62, 80,0.4);
$dropdown-bg: rgba(127, 140, 141,0.8);
$well-bg: rgba(127, 140, 141,0.8);
$btn-warning-color: rgba(44, 62, 80,1.0);
$btn-info-color: rgba(44, 62, 80,1.0);
$btn-danger-color: rgba(44, 62, 80,1.0);
$btn-primary-color: rgba(44, 62, 80,1.0);
$btn-success-color: rgba(44, 62, 80,1.0);


@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family: 'Montserrat';
}

body {
    padding-top: 65px;
}

#logo {
    font-weight: bold;
    letter-spacing: -1px;
    color: rgba(44, 62, 80,1.0);
}

#logo:hover {
    color: rgba(44, 62, 80,0.4);
}

.jumbotron {
    background-image: asset-url('rails.jpg');
    background-size: cover;
    height: 400px;
}

.jumbotron > h2, .jumbotron > p {
    color: rgba(44, 62, 80,1.0);
}

.categories {
    margin: 15px;
}

.title {
    color: rgba(41, 128, 185,1.0);
    font-weight: bold;
}

.article-meta-details {
    border-top: 1px solid #888;
    margin-top: 15px;
    padding-top: 10px;
    color: rgba(189, 195, 199,1.0);
}

.article-actions {
    border-top: 1px solid #888;
    padding-top: 20px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #888;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    margin-top: 45px;
    padding: 5px;
    border-top: 1px solid #888;
    color: #777;
}

footer a {
    color: rgba(44, 62, 80,1.0);
}

footer a:hover {
    color: rgba(44, 62, 80,0.4);
    text-decoration: none;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

