$body-bg: rgba(149, 165, 166,1.0) ;
$navbar-default-bg: rgba(127, 140, 141,1.0);
$navbar-default-link-color: rgba(44, 62, 80,1.0);
$navbar-default-link-hover-color: rgba(44, 62, 80,0.4);


@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family: 'Montserrat';
}

body {
    padding-top: 65px;
}

#logo {
    font-weight: bold;
    letter-spacing: -1px;
    color: rgba(44, 62, 80,1.0);
}

#logo:hover {
    color: rgba(44, 62, 80,0.4);
}

.jumbotron {
    background-image: asset-url('road.jpg');
    background-size: cover;
    height: 400px;
}

.jumbotron > h2, .jumbotron > p {
    color: white;
}

.categories {
    margin: 15px;
}

footer {
    margin-top: 45px;
    padding: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: rgba(44, 62, 80,1.0);
}

footer a:hover {
    color: rgba(44, 62, 80,0.4);
    text-decoration: none;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

th {
    border-bottom: 2px dotted black;
    color: royalblue;
}

#actions {
    text-align: justify;
}